<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/header.ejs')%>
  <body>
    <%- include('./partial/navbar.ejs')%>
    <div class="about content">
      <h1>About Me</h1>
      <div class="about-body">
        <p>
          I am professional MEARN Stack Developer. My expertise lies in ReactJs,
          NextJs , React Native(Mobile & Android), NodeJs, Express, MongoDB.
        </p>
      </div>
    </div>
    <%- include('./partial/footer.ejs')%>
  </body>
</html>
