<nav>
  <div class="site-title">
    <a href="/"><h1>Nick's Blog Post</h1></a>
    <p>Create your favourite blogs here</p>
  </div>
  <ul>
    <li><a href="/">My Blogs</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/blogs/create">Create Blogs</a></li>
  </ul>
</nav>
<hr />
